@font-face {
    font-family: 'Heebo';
    src: url('./Heebo/static/Heebo-Regular.ttf') format('ttf'),
         url('./Heebo/static/Heebo-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Heebo', sans-serif;
    margin: 0px;
  }
  

