#resultContainer {
    width: 35%;
    height: 50%;
    background: rgb(32, 121, 99);
    border-radius: 32px;
}

#locationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
}